@media  (max-width: 1510px) {

    div.img{
        height: 990px;
        width: 604px;
    }
    img.people{
        width: 80%;
    }
    img.nurse2 {

        height: 800px;
    }
    div#border.call{
        width: 300px;
        height: 280px;
    }
    div#border.chat{
        width: 300px;

    }
    div#border.video{
        width: 300px;
        height: 280px;
    }
    div#border.message{
        width: 300px;
    }
    div.b button.b-call{
        margin: 15% 3% 4% 4%;
    }
    div.b button.a-call{
        margin: 15% 3% 4% 4%;
    }
    span.term{
        display: flex;
        margin: 2em 0 0em 0%;

    }
    div.finish div.end2{
        margin-left: 18%;

    }
    div.support{
        width: 200px;
    }
    div.company{
        width: 200px;
    }
    div.about{
        width: 200px;
    }
    div.term{
        margin: 14% 0% 12% 19% !important;
    }
    span.term2{
        margin: 52% 0% 0% 0% !important;
    }
    span.term3{
        margin: 52% 0% 12% 19% !important;
    }
}